@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family: 'Roboto', sans-serif;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ff5d54;
    color: #000;
    padding: 0.2em 0;
}

.center-flex {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    text-align: center;
}

.container {
    width: 100%;
    padding: 1em 1em;
}

.row {
    width: 100%;
}

.gallery-img {
    width: calc(20% - 20px);
    margin: 5px;
    transition: all .2s ease-in-out;
}

.gallery-img:hover {
    transform: scale(1.05);
    filter: contrast(110%) brightness(110%);
}

.hidden {
    visibility: hidden;
}

.full-image img {
    max-height: 500px;
}
